.header {
    height: 40px;
    background-image: -webkit-linear-gradient(top,#ccc 0,#b5b5b5 100%);
    background-image: -moz-linear-gradient(top,#ccc 0,#b5b5b5 100%);
    box-shadow: 0px 2px 5px #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
}

.spacer {height: 40px;}

body {
    background: #fff;
    font-family: sans-serif;
    margin: auto;
    position: relative;
}
.footer {
    clear: left;
    background-image: -webkit-linear-gradient(top,#ccc 0,#b5b5b5 100%);
    background-image: -moz-linear-gradient(top,#ccc 0,#b5b5b5 100%);
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    color:#505050;
    text-shadow: -1px -1px 0px #202020, 1px 1px 0px #fff;
    box-shadow: 0px 2px 5px #333;
    position: relative;
    z-index: 1;
}

.about {
    cursor: pointer;
}

.menu {
    line-height: 30px;
    padding-top: 5px;
}

.button {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    cursor: pointer;
}

#quickset {
    float: right;
}

#visualization {
    float: left;
    height: 600px;
    padding-left: 10px;
}

.name {
    line-height: 40px;
    font-size: 25px;
    color:#505050;
    text-shadow: -1px -1px 0px #202020, 1px 1px 0px #fff;
    float: left;
    margin-left: 20px;
    margin-right: 80px;
}

.button-active {
    box-shadow: inset 0px 0px 6px #404040;
}

.button:hover{
    box-shadow: inset 0px 0px 6px #404040;
}

.opt_button {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
}

.opt_button:hover{
    box-shadow: inset 0px 0px 6px #404040;
}

.opt_slider {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 8px;
    cursor: pointer;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

.opt_slider_active {
    border-radius: 5px;
    background: url('ui-darkness/images/ui-bg_inset-soft_25_000000_1x100.png') repeat-x scroll 50% 50% #F58400;
    border-bottom: 1px solid black;
    color: white;
    font-family: Segoe UI,Arial,sans-serif;
}

.opt_slider:hover{
    background: url('ui-darkness/images/ui-bg_inset-soft_30_f58400_1x100.png') repeat-x scroll 50% 50% #F58400;
    border-radius: 5px;
}

.left_menu {
    float: left;
    width: 200px;
    box-shadow: 0px 2px 5px #333;
    height: 600px;
}

.left_menu_full {
    float: left;
    width: 250px;
    box-shadow: 0px 2px 5px #333;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.opt_items {
    margin-top: 5px;
    font-size: .8em
}

.ui-button-text {
   font-size: inherit !important;
} 

.ui-button {
    margin-top: 4px !important;
}

.lm_hide {
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.lm_head {
    padding-top: 5px;
    background: #ccc;
    position: relative;
    z-index: -1;
    text-align: center;
    box-shadow: 0px 2px 5px #333;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.lm_items {
    padding-left: 5px;
    padding-right: 5px;
}

.content {
    min-height: 500px;
    padding-left: 10px;
}

.content_fullmenu {
    min-height: 500px;
    padding-left: 10px;
    margin-left: 250px;
}

.opt_content {
    float: left;
    min-height: 500px;
    padding-left: 10px;
    min-width: 300px;
    max-width: 70%;
}

a {
    text-decoration: none;
    color: black;
}

.opt {
    font-size: 0.8em;
}

.spinner {
    font-size: 0.8em;
    width: 50px;
}

.divider {
    border-top: 1px solid #DDD;
    margin-bottom: 10px;
}

#show-set {
    min-width: 300px;
}

#upload-file {
    min-width: 300px;
}

.datasetheading {
    width: 100%;
}

.box {
    border: 1px solid #DDD;
    border-radius: 5px;
}

.filelist {
    list-style: none outside none;
    padding: 0px;
    margin: 0px;
}

.listentry {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 99%;
    border-bottom: 1px solid #DDD;
}

.menuicon {
    float:right;
    margin-right: 5px;
    cursor: pointer;
}

.menuentry {
    cursor: pointer;
}

.desc {
    font-size: 0.8em;
}

/*set for jquery theme, should by dynamic*/
.listentry:hover {
    border-radius: 5px;
    width: 99%;
    background: url('ui-darkness/images/ui-bg_inset-soft_30_f58400_1x100.png') repeat-x scroll 50% 50% #F58400;
}

#pcatooltip, #pcoatooltip {
    border: 1px solid black;
    background: #98AFC7;
    position: absolute;
    display: none;
    border-radius: 5px;
    padding: 5px;
    z-index: 2;
}

.kmeansub {
    float: left;
    border: 1px solid #DDD;
    padding: 5px;
}

.kmeansubhead {
    font-weight: bold;
    border-bottom: 1px solid #DDD;
}

#data .ui-selecting { background: #FECA40; }
#data .ui-selected { background: #F39814; color: white; }
#data { cursor: pointer; list-style-type: none; margin: 0; padding: 0; width: 100%;}
#data li { margin: 3px; padding: 0.4em; font-size: 1em; height: 15px; float: left; width: 100px;  }

#megdata .ui-selecting { background: #FECA40; }
#megdata .ui-selected { background: #F39814; color: white; }
#megdata { cursor: pointer; list-style-type: none; margin: 0; padding: 0; width: 100%;}
#megdata li { margin: 3px; padding: 0.4em; font-size: 1em; height: 15px; float: left; width: 100px;  }

#cluster .ui-selecting { background: #FECA40; }
#cluster .ui-selected { background: #F39814; color: white; }
#cluster { cursor: pointer; list-style-type: none; margin: 0; padding: 0; width: 200px; }
#cluster li { margin: 3px; padding: 0.4em; font-size: 1em; height: 15px; }


/*should be changed, just temporary*/
.text_button {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    background-color:#79bbff;
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:150px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
}
.text_button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    background-color:#378de5;
    cursor: pointer;
}.text_button:active {
    position:relative;
    top:1px;
}

h2 {
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 10px;
    margin-right: 10px;
    /*background: #B5C6D0;*/
    background-image: -webkit-linear-gradient(top,#ccc 0,#b5b5b5 100%);
    background-image: -moz-linear-gradient(top,#ccc 0,#b5b5b5 100%);
    height: 30px;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, sans-serif;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 2px;
}

h3 {
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 10px;
    margin-right: 10px;
    /*background: #B5C6D0;*/
    background-image: -webkit-linear-gradient(top,#ccc 0,#b5b5b5 100%);
    background-image: -moz-linear-gradient(top,#ccc 0,#b5b5b5 100%);
    height: 22px;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-family: Verdana, sans-serif;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 2px;
}

input[type=text], textarea {
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #FAFAFA;
    border: 1px solid #595959;
}

input[type=text] {
    width: 250px;
    height: 20px;
}

input[type=file] {
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type=submit] {
    padding: 5px;
    background-color: #ccc;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
}

input[type=submit]:hover {
    padding: 5px;
    background-color: #aaa;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
}

.dataid {
    color: #9D9D9D;
}

.nameheading {
    margin-bottom: 20px;
}

.splitchar {
    width: 30px !important;
}

.selectdataset {
    min-width: 400px;
    /*border-radius: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #FAFAFA;
    border: 1px solid #595959;*/
}

.selectdatasets {
    min-width: 400px;
    /*border-radius: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #FAFAFA;
    border: 1px solid #595959;*/
}

.pcacol, .pcoacol, .fieldname, .sort {
    width: 200px;
}
